# 
ROUTE_PREFIX='/api/v1'
NODE_ENV=development
PORT=8000
APP_NAME="NodeJS REST API"
APP_AUTHOR="axnguyenit"
FRONTEND_DOMAIN=http://127.0.0.1:8000
BACKEND_DOMAIN=http://127.0.0.1:8000

# 
DATABASE_URL=

# 
AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=1d

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080