# 
ROUTE_PREFIX='/api/v1'
NODE_ENV=development
PORT=8000
APP_NAME="NodeJS REST API"
APP_AUTHOR="axnguyenit"
FRONTEND_DOMAIN=http://127.0.0.1:8000
BACKEND_DOMAIN=http://127.0.0.1:8000

# 
DATABASE_URL=

# 
AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=1d

